extends layout

block nav
	+nav_bar('submit')

block content
	h1 Account #{name} not validated
	p  The Twitch login returned an account that doesn't have a validated email. Please login to Twitch and perform an email validation, then try again.