extends layout

block nav
    +nav_bar('help')
    
block content     
    .col-md-2.visible-md-block.visible-lg-block.locked-left
        .affix
            each val in topics
                h4.fake-link(onClick="javascript:navigate("+val.topic+")")= val.topic
            
    .col-md-10    
        each val in topics
            div(id=val.topic)  
                h3= val.topic
                each elem in val.data
                    strong= elem.q
                    p= elem.a
                
    script(type='text/javascript' src='/js/journey_faq.js')