extends layout
include mixins

block nav
    +nav_bar('submit')

block content
    .col-md-12
        h1 Becoming a Quest Giver
        p 
            |Below is some information about how to submit Quests to The Journey Project. If this is your first time setting up a quest submisson, please take a few moments to read through these notes. These guide lines will help make quests more enjoyable for everyone.<br>
            |Should you want to, you can change your quest by simply making a new submission. The old quest will then be removed and your new one will be added. And please keep in mind that we might not be able to play newer games. Generally, as long as the game is released in or before 2000, you'll be safe. 
    .col-md-4
        h3 Game & System
        p These fields will help us know which game (and version) your quest is for. I cannot guarantee that we can get our hands on the game in question but I will try my best. As a rule of thumb, if your suggestion was released in or <b>before the year 2000</b>, I can most likely manage. The exceptions are games for Game Boy Advance, or if I have the game on my #[a(href="http://steamcommunity.com/profiles/76561198046572904/games/?tab=all") Steam Account]. 
    .col-md-4
        h3 Goal
        p Some games doesn't have clear goals, or maybe they loop after a certain point. Anyhow, you can write what you think we should try to achieve before the quest is considered completed. <b>Example</b> goals could be "Beat the game" or "Beat stage 5". And keep goals <b>reasonable</b>; "Complete 100%" in a huge RPG or "Beat Super Expert" in a racing game is not realistic (for me at least). Try to set up goals you think are achievable. If no goal is present, I'll wing it and play till I think we've finished it. 
    .col-md-4
        h3 Comments
        p Here you can write comments that you think are important to know when playing the game but can be very hard to figure out. Some older games have strange and weird mechanics that might need a short explanation, lest we get stuck and make no progress the first 15 minutes. If your game submission would need a comment, you probably know it yourself <b>:-)<b>
    .col-md-12
        .alert.alert-dismissible.alert-info(class="fade in")
            a.close(href='#', data-dismiss="alert", aria-label="close") ×
            strong A friendly reminder<br>
            | Submissions should not require any additional preparation on my side, or require that a certain viewer is present. If your goal is something I have to read an entire guide for in advance, it is probably not in the spirit of the Journey, and you should probably think of another goal.
    .col-md-12
        #alerts
        #game-form
            +game-form(1, submission)
            input(id='token', type='hidden', value=token)
            button.btn.btn-raised.btn-primary(type='button', onclick='submitForm()') Submit