include mixins
extends layout

block header
    script(src='/lib/bootstrap-confirmation.min.js')

block nav
    +nav_bar('submit')

block content    
    script(type='text/javascript' src='/js/journey_submit.js')
    script(type='text/javascript' src='/js/journey_modal.js')
    
    .col-md-12
        h1 Quests
        p
            |"Quest" is the name we use to describe a submission to The Journey Project. Anyone can submit a quest, given that they fill out the quest form bellow.
            |In case this is your first time here, I would suggest heading over to our 
            a(href="/tjp/faq") FaQ page 
            |and check out the submission guidelines.
        h4 Reminders
        lu
            li
                | Please keep in mind our 
                a(href='https://docs.google.com/spreadsheets/d/1DjXXyCKW3KFll17OQoNuyTfY6rlpKAfMkUGYUV-bIKo/edit?usp=sharing') system list
                | , when making submissions. It is better to have checked the list beforehand,
                | and know how risky a certain submission is.
            li
                | Submissions should not require any specific preparation on my side (such as reading a guide), or require that a certain viewer is present.
            li
                | Some submissions will be less popular, and will probably get voted out quicker than others. That doesn't mean there is anything wrong in making them.
        p
            | ----------------------------------------------
        p#message
        p#alert
        #form
            if(!state)
                +submit-new-quest()
            else if(state === "Submitted")
                +existing-quest(submission)
            else if(state === "Voted out")
                +resubmit-quest(submission)
            else if(state === "Active")
                +active-quest(submission)
            else if(state === "Completed")
                +completed-quest(submission)
            else
                | An error has occured. Please contact the Admin
    +modal()

//- Mixin for different game forms
mixin basic-game-form(submission, disabled)
    - var g = (typeof submission == 'undefined') ? {} : submission;
    - var d = (typeof disabled == 'undefined') ? true : disabled;
     //- If submission state is Active, then we want to output 'Next Game' or 'Current Game'
    - var s = (state === 'Active') ? g.active_state + " Game" : g.state;
    fieldset.form-horizontal(disabled=d)
        .form-group.bmd-form-group
            +text-field-required('Title','QuestTitle',g.title,'Enter title (required)')
        .form-group.bmd-form-group
            +text-field-required('System','QuestSystem',g.system,'Enter system (required)')
        .form-group.bmd-form-group
            +text-field-required('Goal','QuestGoal',g.goal,'Enter goal (required)')
        .form-group.bmd-form-group
            +text-area('Comments','SubmissionComments',g.comments,'Enter comments',3)
        if(state)
            .form-group.row
                label.col-sm-2.control-label(for='state') State
                .col-sm-3
                    input#state.form-control(type='text', disabled, value=s)
                label.col-sm-2.control-label(for='time') Game Time
                .col-sm-3
                    input#time.form-control(type='text', disabled, value=g.time)
        input(id='token', type='hidden', value=token)


mixin submit-new-quest()
    +basic-game-form({}, false)
    .btn-box
        button.btn.btn-primary.spc-btn(type='button', onclick='submitQuest()') Submit

mixin existing-quest(submission)
    +basic-game-form(submission)
    .btn-box
        +abandon-button('btndel')

mixin active-quest(submission)
    +basic-game-form(submission)

mixin resubmit-quest(submission)
    +basic-game-form(submission)
    .btn-box
        button.btn.btn-primary.spc-btn(type='button', onclick='resubmit()') Resubmit
        +abandon-button('btndel')

mixin completed-quest(submission)
    +basic-game-form(submission)
    .btn-box
        button.btn.btn-primary.spc-btn(type='button', onclick='confirmCompletedQuest()') Confirm
        
mixin abandon-button(id)
    +confirm-button('btn-primary spc-btn', id, 'abandonQuest()')
        