/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  overflow-y:scroll
}
.footer {
  position: absolute;

  bottom: 0;
  width: 100%;
  
  height: 70px;
  padding-top: 8px;

  background-color: #dce4ec;
}


/* Custom page CSS */
/*-------------------------------------------------- */
/* Not required for template or sticky footer method. */
hr {
    margin-top: 21px;
    margin-bottom: 21px;
    border: 0;
    border-top: 2px solid #dce4ec;
}

body > .container {
  padding: 30px 15px 30px 15px;
}
.container .text-muted {
  margin: 20px 0;
  color: rgba(44, 62, 80, 0.6);
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/* FAQ page CSS */
/*-------------------------------------------------- */
.fake-link {
    color: #18bc9c;
}
.fake-link:hover {
    text-decoration: underline !important;
}
.locked-left {
	width:15%;
}
    
table{
    width: 100%;
}
.ctr {
    text-align: center;
}
.declaration-row{
    border-top: 1px solid #ddd;
    vertical-align: central;
    height: 40px;
}
.description-row{
    vertical-align: central;
    padding: 5px 0;
}
.example-row{
    vertical-align: central;
    border-bottom: 1px solid #ddd;
    height: 40px;
}
.example-text{
    font-weight: 900; 
    font-size: 13px;
}
.monospace{
    font-family: monospace;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
}